* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --holdkant: 0% 15%;
}
.allbutton {
  padding: 16px 40px;
  background-color: #2a5631;
  border-radius: 27px;
  color: white;
  font-weight: 600;
}
.allbutton:hover {
  background-color: #bc5e49;
  color: white;
}
body {
  font-family: Roboto;
}
nav {
  padding: var(--holdkant);
}
nav ul {
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 26px 0px 26px 0px;
  gap: 50px;
  list-style-type: none;
}
nav ul li {
  padding: 0;
  transition: all 0.2s ease-in-out;
}
nav ul li:hover {
  border-bottom: 2px solid #2a5631;
  transition: all 0.2s ease-in-out;
  padding-bottom: 6px;
}
.blackfriday {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #7ea889;
  color: white;
}
a {
  text-decoration: none;
  color: black;
}
nav ul li:first-child {
  margin-right: auto;
  font-size: 28px;
  color: #2a5631;
}
nav ul li:first-child {
  transition: none;
  border-bottom: 0;
  padding: 0;
}
header {
  background-image: url(/assets/header.jpg);
  height: 760px;
}
.header-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.header-wrapper {
  display: flex;
  padding: var(--holdkant);
  align-items: center;
  height: 100%;
}
.header-left ul {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 34px;
  list-style-type: none;
}
.header-left i {
  margin-right: 16px;
}
.header-left h4 {
  color: #bc5e49;
  font-size: 14px;
}
h1 {
  color: #2a5631;
  font-family: Playfair Display;
  font-size: 45px;
  max-width: 63%;
  margin-bottom: 30px;
}

.relative {
  position: relative;
}
.absolut {
  position: absolute;
  bottom: -50px;
  right: 50px;
  width: 193px;
  height: 169px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  padding: 30px;
  flex-direction: column;
}
.absolut h3 {
  margin-bottom: 12px;
  color: #2a5631;
  font-family: Playfair Display;
  font-size: 20px;
}
.absolut p {
  margin-bottom: 20px;
  color: #bc5e49;
  font-weight: 600;
}
.absolut a {
  color: #2a5631;
  font-weight: 600;
  border-bottom: 2px solid #2a5631;
  max-width: 61%;
  padding-bottom: 0;
  transition: padding-bottom 0.3s ease;
}
.absolut a:hover {
  padding-bottom: 7px;
}
.natural {
  background-image: url(/assets/natural.png);
  background-size: cover;
  min-height: 1021px;
  display: flex;
  align-items: center;
}
.natual-wrapper {
  height: 100%;
  padding: var(--holdkant);
  display: flex;
  align-items: center;
  justify-content: center;
}
.natural-article-wrapper {
  display: flex;

  gap: 30px;
}
.natural-article-right h3 {
  margin-bottom: 13px;
  color: #2a5631;
  font-size: 20px;
}
.natural-article-right p {
  color: #747474;
}
.natural-articles {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.natural-right h4 {
  color: #bc5e49;
  font-size: 14px;
  margin-bottom: 6px;
}
.natural-right h2 {
  font-family: Playfair Display;
  font-size: 32px;
  margin-bottom: 20px;
  color: #2a5631;
}

.mumletext-natural {
  font-size: 16px;
  color: #747474;
  margin-bottom: 55px;
  line-height: 28px;
}
.natural-right {
  max-width: 48%;
  margin-left: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.bigsection {
  min-height: 1974px;
  background-image: url(/assets/bigsection.jpg);
}
.big-top-section-wrapper {
  padding: 6.4% 16%;
}
.big-img-top {
  position: relative;
}
.big-bottom-pic {
  position: absolute;
  bottom: -130px;
  left: 263px;
}
.big-top-right {
  margin-left: 75px;
  display: flex;
  flex-direction: column;
}
.big-top-right span h2 {
  font-size: 75px;
}
.big-top-right h3 {
  color: #bc5e49;
  font-size: 20px;
}
.big-top-right p {
  font-size: 32px;
  font-family: Playfair Display;
  color: #2a5631;
  font-style: italic;
  margin-bottom: 30px;
}
.big-top-left {
  min-width: 59%;
  margin-bottom: 25px;
}
.big-top {
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.tractor-left h4 {
  color: #bc5e49;
  font-size: 14px;
  margin-bottom: 6px;
}
.tractor-left h2 {
  font-family: Playfair Display;
  color: #2a5631;
  font-size: 32px;
  margin-bottom: 20px;
}
.tractor-left p {
  margin-bottom: 75px;
  max-width: 80%;
  color: #747474;
  line-height: 28px;
}
.tractor-wrapper {
  padding: var(--holdkant);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tractor {
  margin: 75px 0px;
}
.our-features-articles article {
  max-width: 20%;
  text-align: center;
}
.our-features-articles article img {
  margin-bottom: 27px;
}
.our-features-articles article h3 {
  margin-bottom: 21px;
  color: #2a5631;
  font-family: Playfair Display;
}
.our-features-articles article p {
  color: #747474;
  line-height: 28px;
}
.our-features-articles {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 75px;
}
.our-features {
  margin: 8% 0;
}
.meals {
  background-image: url(/assets/articles-grid.jpg);
  min-height: 1600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.boxes:hover img {
  scale: 1.01;
  transition: all 0.2s ease-in-out;
}

.boxes h3 {
  margin-bottom: 12px;
  color: #2a5631;
  font-family: Playfair Display;
  font-size: 20px;
}
.boxes p {
  margin-bottom: 20px;
  color: #bc5e49;
  font-weight: 600;
}
.boxes a {
  color: #2a5631;
  font-weight: 600;
  border-bottom: 2px solid #2a5631;
  max-width: 61%;
  padding-bottom: 7px;
}

.meals-container {
  display: flex;
  flex-wrap: wrap;
  padding: var(--holdkant);
  justify-content: center;
  gap: 40px;
}
.meals a {
  margin-top: 75px;
  margin-bottom: 50px;
}
.meals h2 {
  margin-bottom: 50px;
}
.good-things {
  background-image: url(/assets/goodthing.jpg);
  min-height: 920px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.good-wrapper {
  padding: var(--holdkant);
  display: flex;
}

.good-left {
  max-width: 43%;
}
.good-left h4 {
  color: #bc5e49;
  font-size: 14px;
}
.good-left h2 {
  font-family: Playfair Display;
  color: #2a5631;
  font-size: 32px;
  margin-bottom: 20px;
}
.good-ptag {
  margin-bottom: 50px;
  max-width: 77%;
  color: #747474;
  line-height: 28px;
}
.good-boxes p {
  color: #747474;
  line-height: 28px;
}
.good-boxes {
  font-family: Playfair Display;
  max-width: 100%;
}
.good-boxes span {
  font-size: 16px;
}
.good-boxes p {
  font-family: Roboto;
  margin-top: 21px;
}
.good-articles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "box1 box2"
    "box3 box4";
  grid-gap: 40px;
}
.box1 {
  grid-area: box1;
}
.box2 {
  grid-area: box2;
}
.box3 {
  grid-area: box3;
}
.box4 {
  grid-area: box4;
}
.good-right {
  margin-left: auto;
}
.good-img {
  position: relative;
}
.good-img2 {
  position: absolute;
  bottom: -130px;
  left: -135px;
}
.lastsection {
  background-image: url(/assets/lastsection.jpg);
  min-height: auto;
  background-size: cover;
}
.lastsection-wrapper {
  padding: var(--holdkant);
}
.profile-wrapper {
  display: flex;
  gap: 25px;
}
.qoute {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 75px;
}
.qoute p {
  max-width: 55%;
  text-align: center;
  margin-bottom: 40px;
}
.right-profile p {
  max-width: 100%;
  text-align: center;
  margin-top: 12px;
  color: #bc5e49;
  font-weight: 600;
}
.qoute h3 {
  font-size: 75px;
  margin-top: 75px;
}
.menu-boxes {
  max-width: 404px;
  height: 408px;
  max-height: 408px;
  width: 408px;
}
.menu {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 75px;
}
.imgbox1 {
  background-image: url(/assets/peer.png);
}
.infobox1 {
  background-color: #ebf0dc;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  flex-direction: column;
  padding: 40px;
}
.infobox1 i {
  padding-right: 30px;
}
.infobox1 h3 {
  font-size: 28px;
  color: #2a5631;
  font-style: normal;
}
.infobox1 p {
  line-height: 28px;
  color: #747474;
}
.infobox2 {
  background-color: #cdd3b9;
}
.infobox2 span {
  font-size: 23px;
}
.news-articels article {
  max-width: 407px;

  min-height: 557px;
}
.top-news-article {
  background-image: url(/assets/filed2.jpg);
  background-size: cover;
  width: 407px;
  height: 320px;
  background-position: center;
  position: relative;
}
.pic2 {
  background-image: url(/assets/man.jpg);
}
.pic3 {
  background-image: url(/assets/natual.jpg);
}
.bottom-news-article {
  background-color: #cdd3b9;
  padding: 30px;
}
.bottom-news-article h3 {
  color: #2a5631;
  font-size: 20px;
  margin-bottom: 20px;
}
.bottom-news-article p {
  color: #747474;
  line-height: 28px;
}
.meals-icon {
  position: absolute;
  top: 40px;
  left: 30px;
  background-color: #f2e8d8;
  color: #bc5e49;
  padding: 8px 20px;
  border-radius: 20px;
}
.news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
  margin-bottom: 75px;
}
.news-articels {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.followboxes img {
  max-width: 290px;
  max-height: 290px;
  object-fit: cover;
  min-height: 290px;
}
.follow-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}
.follow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 75px;
}
.follow h2 {
  color: #2a5631;
  margin-bottom: 15px;
}
.follow h4 {
  margin-bottom: 64px;
  color: #bc5e49;
}
.ask-left {
  width: 520px;
  height: 414px;
  background-image: url(/assets/woman.jpg);
  background-size: cover;
}
.ask-right {
  background-color: #cdd3b9;
  max-width: 744px;
  padding: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.ask-right h4 {
  margin-bottom: 7px;
  color: #bc5e49;
  text-transform: uppercase;
}
.ask-right h3 {
  font-size: 32px;
  color: #2a5631;
  margin-bottom: 22px;
}
.boxes a {
  padding-bottom: 0;
  transition: padding-bottom 0.3s ease;
}
.boxes a:hover {
  padding-bottom: 7px;
}
.ask-right p {
  color: #747474;
  line-height: 28px;
  margin-bottom: 29px;
}
.ask-wrapper {
  display: flex;
  gap: 40px;
}
.ask {
  padding-bottom: 50px;
}
footer {
  background-image: url(/assets/footer.jpg);
  min-height: 463px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--holdkant);
}
.footer-wrapper {
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
}
.footer-div1 h3 {
  font-size: 32px;
  color: #2a5631;
  margin-bottom: 25px;
}
.footer-div1 h4 {
  font-size: 24px;
  color: #bc5e49;
  font-weight: 600;
}
.footer-div1 {
  max-width: 29%;
}
.footer-div2 h5 {
  font-size: 16px;
  color: #747474;
  margin-bottom: 55px;
}
.footer-div2 h4 {
  font-size: 20px;
  color: #2a5631;
  margin-bottom: 21px;
  font-weight: 600;
}
.footer-div2 {
  max-width: 29%;
}
.footer-div3 h3 {
  font-size: 20px;
  color: #2a5631;
  margin-bottom: 33px;
}
.footer-div3 ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #747474;
}
.footer-div4 h3 {
  font-size: 20px;
  color: #2a5631;
  margin-bottom: 23px;
}
.footer-div4 p {
  color: #747474;
  margin-bottom: 49px;
}
.footer-div4 h4 {
  color: #747474;
  padding-bottom: 15px;
  border-bottom: 2px solid;
  margin-bottom: 30px;
}
.footer-div4 h5 {
  font-size: 16px;
  color: #2a5631;
  border-bottom: 2px solid;
  border-color: #747474;
  max-width: 32%;
  padding-bottom: 15px;
}
.footer-div4 {
  max-width: 28%;
}
address {
  display: flex;
  padding: var(--holdkant);
  font-style: normal;
  min-height: 100px;
  align-items: center;
  background-image: url(/assets/container2.jpg);
  background-size: cover;
}
address ul {
  margin-left: auto;
  list-style-type: none;
  display: flex;
  gap: 20px;
}
.fa-brands {
  font-size: 28px;
  color: #49bc6b;
}
html::-webkit-scrollbar {
  width: 10px;
}
html::-webkit-scrollbar-track {
  background: rgb(236, 231, 231);
}
html::-webkit-scrollbar-thumb {
  background: #2a5631;
  border-radius: 25px;
}

@media screen and (max-width: 768px) {
  nav {
    display: none;
  }
  header {
    height: auto;
  }
  .header-wrapper {
    flex-direction: column;
    padding: 65px 16%;
  }
  .header-left {
    margin-bottom: 50px;
  }
  .natual-wrapper {
    flex-direction: column;
    padding: 0;
    gap: 40px;
  }
  .natural-articles {
    margin-bottom: 50px;
  }
  .bigsection {
    height: auto;
  }
  .big-top-section-wrapper {
    padding: 6.4% 6%;
  }
  .big-top {
    flex-direction: column;
  }
  .big-top-left {
    min-width: 100%;
    margin-bottom: 75px;
  }
  .tractor-wrapper {
    gap: 50px;
    flex-direction: column;
  }
  .our-features-articles {
    flex-direction: column;
  }
  .boxes {
    max-width: 54.4%;
  }
  .meals-container {
    justify-content: center;
    padding: 0;
  }
  .meals a {
    margin-bottom: 50px;
  }
  .good-things {
    height: auto;
  }
  .good-wrapper {
    flex-direction: column;
  }
  .good-left {
    max-width: 100%;
    padding: 40px 0;
  }
  .good-right img {
    width: 300px;
    margin-bottom: 75px;
  }
  .good-img {
    position: static;
    display: flex;
    gap: 40px;
  }
  .good-img2 {
    position: static;
  }
  .news-articels {
    flex-wrap: wrap;
  }
  .our-features-articles article {
    max-width: 80%;
  }
  .ask-wrapper {
    flex-direction: column;
  }
  .footer-wrapper {
    flex-direction: column;
  }
  .footer-div1,
  .footer-div2,
  .footer-div3,
  .footer-div4 {
    max-width: 100%;
  }
  .footer-div4 h5 {
    max-width: 17%;
  }
}
@media screen and (max-width: 600px) {
  .footer-div4 h5 {
    max-width: 26%;
  }
  .relative img {
    width: 425px;
  }
  h1 {
    max-width: 100%;
  }
  .natural-left img {
    width: 425px;
  }
  .natural-right {
    max-width: 100%;
    margin-left: 0px;
    display: flex;
    padding: 30px;
  }
  .big-img-top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: static;
    gap: 20px;
  }
  .big-bottom-pic {
    position: static;
  }
  .big-bottom-pic img {
    width: 420px;
  }
  .big-top-right {
    margin-left: 0;
  }
  .tractor img {
    width: 425px;
  }
  .boxes {
    max-width: 100%;
  }

  .good-articles {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "box1"
      "box2"
      "box3"
      "box4";
  }
  .good-img {
    flex-direction: column;
  }
  .ask-left {
    width: 342px;
  }
}
